@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
body{
    font-family: 'Orbitron', Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000100;
    background-image: url('../images/background-ufo-2.webp');
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
}

.form-heading {
    text-align: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-header {
    height: auto;
    width: auto;
    background-color: black;
}

.form-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 100px;
}

.form {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-footer {
    text-align: center;
    margin-top: 1.5rem;
    color: #999;
}

.form-footer a {
    color: #8c52ff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.progress-info {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-style: italic;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"], .next-btn {
    background-color: #737373;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover, .next-btn:hover {
    background-color: #737373;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}